@import './base.css';
@import "palette.css";
@import './palette.css';

html, body {
  overflow-x: hidden; /* Убираем горизонтальный скролл */
  width: 100%;
  margin: 0;
  padding: 0;
}

 a {
   color: var(--color-primary);
 }

 a:hover {
   color: var(--color-primary-hover);
 }

 .green {
   color: #68c7a0;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

